* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #14161f;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

img {
  max-width: auto;
  display: block;
}

button {
  font-family: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
/*  Buttons  */
.btn {
  display: inline-block;
  background-color: #2563eb;
  border-radius: 8px;
}

.btn button {
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 12px 26px;
}

.btn:hover {
  background-color: #6a83ff;
}

.btn.big button {
  padding: 16px 40px;
  font-size: 17px;
}
