* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #14161f;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

img {
  max-width: auto;
  display: block;
}

button {
  font-family: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
/*  Buttons  */
.btn {
  display: inline-block;
  background-color: #2563eb;
  border-radius: 8px;
}

.btn button {
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 12px 26px;
}

.btn:hover {
  background-color: #6a83ff;
}

.btn.big button {
  padding: 16px 40px;
  font-size: 17px;
}

/* Navigation bar part */
.nav {
  background-color: white;
  border-bottom: 1px solid #e6e7ec;
  position: sticky;
  top: 0;
  z-index: 10;
}

.inner-nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 30px;
}

.inner-nav nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-img {
  height: 40px;
}

.inner-nav ul {
  display: flex;
  gap: 30px;
  font-weight: 500;
}

.inner-nav ul a:hover {
  color: #2563eb;
}

/* Hero banner */
.hero {
  position: relative;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  background-color: #0d1220;
}


.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(13, 18, 32, 0.7);
}

.hero-content {
  position: relative;
  color: white;
  max-width: 700px;
  padding: 0 20px;
}

.hero-content h1 {
  font-size: 55px;
  font-weight: bold;
}

.hero-content em {
  font-style: italic;
}

.hero-p {
  margin: 25px 0 30px 0;
}

.hero-p p {
  font-size: 18px;
  line-height: 1.6;
}
